<body class="img-Fondo">
    <app-navbar></app-navbar> 

    <div class="container ctn1">
        <div class="centro">
            <label class="lbl-Titulo">Elija su opción</label>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="columna1 img1"> 
                        <button class="btn-Solicitud" routerLink="/peticionesCasero">Ver Solicitudes</button>
                    </div>
                    
                        <div class="columna5">     
                            <div class="container">
                                <div class="row">
                                    <div class="columna3 img2">
                                        <button class="btn-Editar" routerLink="/gestionarCuartos">Editar</button>
                                    </div>
                                    <div class="columna4 img4">
                                        <button class="btn-Crear" routerLink="/altaDepartamento">Crear</button>
                                    </div>
                                </div>
                            </div>
                            <div class="columna2 img3">
                                <button class="btn-Control" routerLink="/controlCuartos">Control de Cuartos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>  
    
</body>

<app-footer></app-footer>
