
<body>
        <div class="header">
                <div class="logo">
        
                </div>
                <div class="searchcolumn">
        
                </div>
                <div class="infocolumn">
                    <a href="acercaDe">Acerca de</a>
                </div>
                <div class="infocolumn">
                    <a href="inicioSesion">Iniciar Sesion</a>
                </div>
                <div class="infocolumn">
                    <a href="nosotros">Nosotros</a>
                </div>
                <div class="infocolumn">
                    <a href="objetivo">Objetivo</a>
                </div>
                <div class="infocolumn sobreado">
                    <a href="home">Inicio</a>
                </div>
        </div>

        <div class="containers">
            <img src="/assets/images/nosotros/teamwork.jpg" alt="">
            <div class="description">
                <h1>
                        Somos un grupo de estudiantes dedicados a ofrecer soluciones a los problemas que nos enfrentamos dia con dia.
                </h1>
            </div>
        </div>

        <div class="footer">
            <div class="icono">
                <button></button>
            </div>
            <div class="links">
                <div class="items">
                    <h4>Home</h4> 
                </div>
                <div class="items">
                    <h4>Blog</h4> 
                </div>
                <div class="items">
                    <h4>About</h4> 
                </div>
                <div class="items">
                    <h4>Search</h4> 
                </div>
                <div class="items">
                    <h4>Feautures</h4> 
                </div>
                <div class="items">
                    <h4>Privacy</h4> 
                    </div>
            </div>
    
            <div class="social">
                <h2>Contactanos! </h2>
                <div class="columnInput">
                    <div class="input-group input-group-lg">
                        <input placeholder="Enter your email here" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                        <div class="input-group-prepend">
                            <button class="input-group-text" id="inputGroup-sizing-lg">Suscribe</button>
                            </div>
                        </div>
                </div>
    
                <div class="socialicons">
                    <div class="icon">
                        <button class="insta"></button>
                    </div>
                    <div class="icon">
                        <button class="snap"></button>
                    </div>
                    <div class="icon">
                        <button class="face"></button>
                    </div>
                    <div class="icon">
                        <button class="twitter"></button>
                    </div>
                    <div class="icon">
                        <button class="youtube"></button>
                    </div>
    
                </div>
            </div>         
        </div>    
</body>
