<nav id="navbarsecondary" class="menu-activea">
  <h1>MENU</h1>
  <ul>
    <li><a routerLink="/home">INICIO</a> </li>
    <li><a routerLink="/objetivo">MAS INFO</a></li>
    <li><a routerLink="/acercaDe">ACERCA DE</a></li>
    <li><a routerLink="/inicioSesion">LOGIN</a></li>
    <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" href="#" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item" *ngIf="isLogin==true">
        <a class="nav-link" href="#" (click)="onClickLogout()" >SALIR</a>
      </li>
  </ul>
</nav>
<main>
  

  