<app-navbar></app-navbar> 
<body class="img-Fondo">
    
    <div class="container">
        <div class="row">
            <div class="colum">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Numero de cuarto" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Numero de piso" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mensualidades" value="">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Direccion" value="">
                    </mat-form-field>

                    <mat-radio-group aria-label="Servicios">
                    <label id="example-radio-group-label">Servicios</label>
                    <br>
                        <mat-radio-button value="">Agua Potable</mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <mat-radio-group aria-label="Servicios">
                        <mat-radio-button value="">Gas</mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <mat-radio-group aria-label="Servicios">
                        <mat-radio-button value="">Luz Electrica</mat-radio-button>
                    </mat-radio-group>
                    <br>
                    <mat-radio-group aria-label="Servicios">
                        <mat-radio-button value="">Internet</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Otros Servicios"></textarea>
                    </mat-form-field>
                </form>
            </div>

            <div class="colum">
                <div class="container1">
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3823.2337636607112!2d-93.0905884!3d16.615033099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd880409d25ff%3A0x16c195d93c8e223f!2sUniversidad+Polit%C3%A9cnica+de+Chiapas!5e0!3m2!1ses-419!2smx!4v1552483760232" width="425" height="350" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>
                <br>
                <label class="lbl-subir">Subir fotos</label>
                <img src="" alt="" class="rounded">
                <br>
                <br>
                <input type="file" class="img-src">
                <br>
                <br>
                <button type="button" class="btn btn-secondary btn-lg">Guardar</button>
            </div>

        </div>  
    </div>


</body>
<app-footer></app-footer>