<app-navbar></app-navbar>
<body>
    <div class="contenedor-main">
        <div class="card-contenedor">
             <div class="card ">
                <div class="top-section">
                    <img src="/assets/images/partners/angel.jpg" alt="">
                      <div class="menuicon">
                        <span class="s1"></span>
                        <span class="s2"></span>
                      </div>
                      <div class="name">
                        Jose <br>
                        <span>Angel</span>
                      </div>
                </div>
                <div class="info-section">
                    <h2>About
                      <div class="border"></div>
                    </h2>
                      <p>Jangel</p>
                      <p>Tuxtla Gutiérrez, Chiapas </p>
                      <p>Tocho 🏈 Equipo:Piratas #99</p>
                        
                      
                    <h2>contact
                      <div class="border"></div>
                    </h2>
                    <div class="s-m">
                      <a href="" class="fa fa-facebook-f"></a>
                      <a href="" class="fa fa-twitter"></a>
                      <a href="" class="fa fa-instagram"></a>
                      <a href="" class="fa fa-youtube"></a>
                      <a href="" class="fa fa-whatsapp"></a>
                    </div>
                  </div>
            </div>
        </div>
      
        <div class="card-contenedor">
            <div class="card ">
                <div class="top-section">
                    <img src="/assets/images/partners/dani.jpg" alt="">
                      <div class="menuicon">
                        <span class="s1"></span>
                        <span class="s2"></span>
                      </div>
                      <div class="name">
                        Daniela <br>
                        <span>Sanchez</span>
                      </div>
                </div>
                <div class="info-section">
                    <h2>About
                      <div class="border"></div>
                    </h2>
                      <p>Daniela Sanchez</p>
                      <p>Tuxtla Gutiérrez, Chiapas</p>
                      <p>Software Developer... 💻 </p>
                    <h2>contact
                      <div class="border"></div>
                    </h2>
                    <div class="s-m">
                      <a href="" class="fa fa-facebook-f"></a>
                      <a href="" class="fa fa-twitter"></a>
                      <a href="" class="fa fa-instagram"></a>
                      <a href="" class="fa fa-youtube"></a>
                      <a href="" class="fa fa-whatsapp"></a>
                    </div>
                  </div>
            </div>
        </div>
      
        
        
      </div>
</body>

<app-footer></app-footer>