
    <app-navbar></app-navbar>           <!-- selectores navbar -->
    
    <section style="margin-top: 90px;" class="sect">
            <div class="container mt-5">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="header-content-left">
                    <img src="/assets/images/partners/team.jpg" style="width: 100%;">
                  </div>  
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="header-content-right">
                    <h1 class="display-4">Nosotros</h1>
                    <p class="mt-5">Somos un grupo de estudiantes dedicados a ofrecer soluciones a los problemas que nos enfrentamos dia con dia.</p>
                    <a routerLink="/partners" class="btn btn-outline-secondary header-btn btn-lg mt-2">Conozca mas</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <section id="testimonial">
            <div class="container">
              <p class="h2 mb-2">
                    Cada historia de exito es una historia de constante adaptacion,revision y cambio
              </p>
              <p class="h4">- DARP IDS TEAM</p>
            </div>
          </section>
      
          <section id="info-one">
            <div class="container">
              <div class="row mt-5">
                <div class="col-md-6">
                  <div class="info-left">
                    <img src="/assets/images/objetivos/objetive.jpg" style="width: 100%">
                  </div>
                </div>
                <div class="col-md-6 my-auto">
                  <div class="info-right">
                    <h2>Objetivos</h2>
                    <p>Nuestro objetivo principal es proporcionar un espacio para que anfitriones puedan mostrar sus locales y al mismo tiempo ayudar a los jovenes a encontrarlos de manera mas eficaz.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
      
          <section id="info-two">
            <div class="container">
              <div class="row my-5">
                <div class="col-md-6">
                  <h2>Valores</h2>
                  <p>Calidad, Solidaridad, Responsabilidad, Confianza, Sinceridad, Originalidad, Competitividad, Sencillez.</p>
                </div>
                <div class="col-md-6">
                  <h2>Trabajo en equipo</h2>
                  <p>La condición fundamental siempre será el trabajo bien hecho que garantice la confianza y evite la supervisión y revisión del trabajo entre sus integrantes. Profesionalismo.</p>
                  <p>"Trabajar en equipo divide el trabajo y multiplica los resultados"</p>
                </div>
              </div>
            </div>
          </section>
    <app-footer></app-footer>