
<body>
    <!-- NAVIGATION -->
    <app-navbar></app-navbar>           <!-- selectores navbar -->

        <h1>Preguntas Frecuentes</h1>
        <div class="containers">
            <!-- Accordion Starts-->
            <div class="acc">
                <h3>Question 1:¿Cómo busco un departamento?</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>Creando una cuenta de usuario, una vez teniendola, acceder a la cuenta, y ubicarse en el apartado de listado de departamentos.</p>
                    </div>
                </div>
            </div>
    
            <!-- Accordian -->
            <div class="acc">
                <h3>Question 2: ¿Dónde veo mis solicitudes?</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>En la sección de Casero en la vista principal, apartado de "Ver Solicitudes". </p>
                        <p>Allí encontrará toda la información relacionada sobre las solicitudes entrantes.</p>
                    </div>
                </div>
            </div>
    
            <!-- Accordian -->
            <div class="acc">
                <h3>Question 3: La página no me muestra nada.</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>
                            Asegurese de tener buena conexión a Internet. O recargue nuevamente la página.
                        </p>
                        <p>Caso Casero: Verifique tener registros de los inmuebles.</p>
                        <p>
                            Caso Estudiante: Verifique haber hecho la busqueda correctamente. O en su defecto, que dicho Casero cuente con registros.
                        </p>

                    </div>
                </div>
            </div>
    
            <!-- Accordian -->
            <div class="acc">
                <h3>Question 4: ¿Dónde publico mis cuartos?</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>En la sección de Casero, se dirige en la opción de "Crear". Una vez dando click, se le mostrará un formulario para que pueda rellenarlo con los datos pertinentes acerca del inmueble.</p>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <app-footer></app-footer>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
 <!-- 
   -->