
<body>  
        
        <app-navbar></app-navbar>           <!-- selectores navbar -->
    <div class="contenido">
            
        <div class="description">
            <span class="text1">Bienvenido a </span>
            <span class="text2">UP Rooms!</span>
            <span class="text2">Encuentra el lugar perfecto 
                    para tu estancia academica</span>
            
        </div>
        
        <div class="options">
            <div class="buttonlog">
                <button class="student" routerLink="/registro-alumno"><h1></h1></button>
                
            </div>
            <div class="buttonlog">
                <button class="hosting" routerLink="/registro-casero"><h1 style="color: black;"></h1></button>
            </div>
            <div class="buttonlog">
                <button routerLink="/preguntasfrecuentes" class="FAQ"><h1> </h1></button>
            </div>
        </div>
    
    </div>

    
    <app-footer></app-footer>               <!-- selector footer -->
   
    
</body>


